<div class="progress" style="margin-bottom: 8em;">
  <div id="theprogressbar" class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div id="question_1" class="question">
	The answers you will answer along this test will be use for present you some job and career options. 
</div>

<div id="question_2" class="question form-group"><h3>One choice</h3> 
	<input type="radio" name="q2" checked/> Option 1<br>
	<input type="radio" name="q2" /> Option 2<br>
	<input type="radio" name="q2" /> Option 3<br>
	<input type="radio" name="q2" /> Option 4<br>
</div>

<div id="question_3" class="question form-group">
	<h3>Multiple choice</h3>
	<input type="checkbox"> Option 1<br>
  	<input type="checkbox"> Option 2<br>
  	<input type="checkbox"> Option 3<br>
  	<input type="checkbox"> Option 4<br>
</div>

<div id="question_4" class="question form-group">
	<h3>Text option</h3>
	<input name="firstname" type="text" value="Text here." class="form-control">
</div>

<div id="question_5" class="question form-group">
	<h3>Select box </h3>
	<select name="cars" class="form-control">
	  <option value="o1">Option 1</option>
	  <option value="o2">Option 2</option>
	  <option value="o3">Option 3</option>
	  <option value="o4">Option 4</option>
	</select>
</div>

<div id="question_6" class="question form-group">
	<h3> Text area </h3>
	<textarea name="message" class="form-control">
		Text here.
	</textarea>
</div>

<div id="question_7" class="question form-group">
	<h3>File submit </h3>
	<input type="file" class="form-control"> 
</div>

<div id="question_8" class="question form-group">
	<h3>Text option 2</h3>
	<input name="firstname" type="text" value="Text here." class="form-control">
</div>

<div id="question_9" class="question form-group">
	<h3>Select box 2</h3>
	<select name="cars" class="form-control">
	  <option value="o1">Option 1</option>
	  <option value="o2">Option 2</option>
	  <option value="o3">Option 3</option>
	  <option value="o4">Option 4</option>
	</select>
</div>

<div id="question_10" class="question form-group">
	<h3> Text area 2</h3>
	<textarea name="message" class="form-control">
		Text here.
	</textarea>
</div>

<div id="question_11" class="question">
	That were all the questions. Thank you for answering.<br>
	<a href="/finish">Get my results</a>
</div>

<a id="previous" onclick="left_function()" class="btn btn-default" >Previous</a>
<a id="next" onclick="right_function()" class="btn btn-success" >Next</a>

<script type="text/javascript">
	var aria = 0;
	var question;
	$("#question_2").hide();
	$("#question_3").hide();
	$("#question_4").hide();
	$("#question_5").hide();
	$("#question_6").hide();
	$("#question_7").hide();
	$("#question_8").hide();
	$("#question_9").hide();
	$("#question_10").hide();
	$("#question_11").hide();

	function left_function()
	{
		if (aria >= 10 && aria <= 100)
		{
			aria = aria - 10;
			$('#theprogressbar').attr('aria-valuenow', aria).css('width',aria+"%");
		}	
		question = aria/10+1;
		$("#question_"+(question+1)).hide();
		$("#question_"+question).show();
	}

	function right_function()
	{
		if (aria >= 0 && aria <= 90)
		{
			aria = aria + 10;
			$('#theprogressbar').attr('aria-valuenow', aria).css('width',aria+"%");
		}	

		question = aria/10+1;
		$("#question_"+question).show();
		$("#question_"+(question-1)).hide();

	}	
</script>