<h2>Job offers</h2>
<h3>Short term</h3>

<% @jobs_short.each do |job| %>
	<%= job.name %> <br>
<% end %>

<h3>Medium term</h3>

<% @jobs_medium.each do |job| %>
	<%= job.name %> <br>
<% end %>


<h3>Long term</h3>

<% @jobs_long.each do |job| %>
	<%= job.name %> <br>
<% end %>
