/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.question{
	height: 15em;
}

.bg-img{

	background: url("/assets/bg.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	
	/* The image used */
    background-image: url("/assets/bg.jpg");

}

.bgq-img{

	background: url("/assets/bgq.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	
	/* The image used */
    background-image: url("/assets/bgq.jpg");

}

.bg3-img{

	background: url("/assets/bg3.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	
	/* The image used */
    background-image: url("/assets/bg3.jpg");

}


.jumbotron{
	border-radius: 10px;
	background-color: white !important;
	padding-left: 5em !important;
	padding-right: 5em !important;
	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}


.navbar{
	background-color: #3db50e !important;
	border-radius: 0px !important;
}

/* Title */
.navbar-brand {
    color: white !important;
}

.navbar a{
	color: white !important;
}

.navbar a:hover{
	background-color: #37a52b !important;
}


.dropdown-menu > li > a:hover {
    background-color: #37a52b !important;
    background-image: none !important;
}



.dropdown-menu {
	background-color: #3db50e !important;
}

.dropdown-menu ul:hover{
	background-color: #3db50e !important;
}

.progress-bar
{
	background-color: orange !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #37a52b !important;
    border-color: none !important;
}